CompileFlags:
  Add:
    [
      -isysroot=/Users/dmtrkovalenko/.platformio/packages/toolchain-xtensa-esp32/xtensa-esp32-elf/,
    ]
  Remove:
    [
      -fno-tree-switch-conversion,
      -mtext-section-literals,
      -mlongcalls,
      -fstrict-volatile-bitfields,
      -free,
      -fipa-pta,
    ]
Diagnostics:
  Suppress: "pp_including_mainfile_in_preamble"